/* html {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
} */

body {
  background-color: gray;
}

.Profile-Picture {
  display: inline-block;
  padding: 1%;
}

.Green-Background {
  background-color: green;
}